*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

.navbar{
    width: 90%;
    background-color: #f1f1f1dd;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    position: fixed;
    padding: 10px 5%;
    display: flex;
    z-index: 1;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-style: bold;
    transition: 0.2s;
}

.navbar ul li a:hover{
    color: #7c7c7c;
}

.navbar ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background: #7c7c7c;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.logo{
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
}

.logo:hover{
    opacity: 50%;
}

.navbar ul button{
    padding: 5px 5px;
    color: #000000;
    background-color: #ffffff00;
    border-radius: 8px;
    font-family: gilroy;
    font-size: 12pt;
    transition: 0.2s;
    border: #000000 solid 3px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar ul button:hover{
    padding: 5px 5px;
    /* color: #7c7c7c; */
    background-color: #00000000;
    border-radius: 8px;
    /* border: #7c7c7c  solid 3px; */
    box-shadow: #000 5px 5px 0px 0px;
}

.toggle-btn{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar{
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 20px;
}

@media (max-width: 600px){
    .toggle-btn{
        display: flex;
    }

    .nav{
        display: none;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul li{
        display: block;
        text-align: left;
        margin: 18px 6px;
    }

    .nav.active{
        display: flex;
        -webkit-animation: scale-up-ver-top 0.4s ease-out both;
	        animation: scale-up-ver-top 0.4s ease-out both;
    }  

    .navbar ul button{
        margin-left: 0px;
    }

    @-webkit-keyframes scale-up-ver-top {
        0% {
          -webkit-transform: scaleY(0.4);
                  transform: scaleY(0.4);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
      }
      @keyframes scale-up-ver-top {
        0% {
          -webkit-transform: scaleY(0.4);
                  transform: scaleY(0.4);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
        100% {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1);
          -webkit-transform-origin: 100% 0%;
                  transform-origin: 100% 0%;
        }
    }
}

.page{
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
}

.page h1{
    text-align: center;
    font-size: 27pt;
    font-family: gilroy-extrabold;
    /* margin-top: 20px; */
}

.page h1 span{
    -webkit-text-stroke: 1.6px #000;
    color: transparent;
    font-weight: 500;
    font-family: gilroy;
}

p{
    text-align: center;
    margin-bottom: 20px;
}

label{
    color: #000000;
    font-size: 16pt;
    font-family: gilroy-extrabold;
}

label span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: #000000 solid 2px; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    transition: .2s;
}

input[type=text]:hover{
    /* border: #7e7e7e solid 2px;  */
    box-shadow: #000 5px 5px 0px 0px;
}

input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: #000000 solid 2px; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    transition: .2s;
}

input[type=email]:hover{
    /* border: #7e7e7e solid 2px; */
    box-shadow: #000 5px 5px 0px 0px;
}

textarea{
    border: #000000 solid 2px;
}

textarea:hover{
    /* border: #7e7e7e solid 2px; */
    box-shadow: #000 5px 5px 0px 0px;
}
  
button[type=submit] {
    background-color: #ffffff;
    border: #000000 solid 2px;
    padding: 12px 50px;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
  
button[type=submit] h1{
    margin: 0;
    font-size: 14pt;
    font-family: gilroy-extrabold;
}

button[type=submit] h1 span{
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-family: gilroy;
}

button[type=submit]:hover {
    background-color: #ffffff;
    border: #000000 solid 2px;
    color: #000000;
    box-shadow: #000 5px 5px 0px 0px;
}

.container {
    background-color: #fff;
    padding: 35px;
    width: 40%;
    margin: 2% 27.5%;
    align-content: center;
    align-self: center;
    align-items: center;
}

#loop{
    display: flex;
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 100pt;
    white-space: nowrap;
    z-index: -1;
    font-family: gilroy-extrabold;
    color: #fff;
}

#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #000;
    padding: 0 15px;
}

#loop>h1>span{
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 500;
}

@keyframes anim{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

#loop1{
    display: flex;
    position: absolute;
    top: 55%;
    width: 100%;
    font-size: 100pt;
    white-space: nowrap;
    z-index: -1;
    font-family: gilroy-extrabold;
    color: #fff;
}

#loop1>h1{
    font-weight: 400;
    animation-name: anim1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #000;
    padding: 0 15px;
}

#loop1>h1>span{
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 500;
}

@keyframes anim1{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#loop2{
    display: flex;
    position: absolute;
    top: 65%;
    width: 100%;
    font-size: 100pt;
    white-space: nowrap;
    z-index: -1;
    font-family: gilroy-extrabold;
    color: #fff;
}

#loop2>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #000;
    padding: 0 15px;
}

#loop2>h1>span{
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 500;
}

@keyframes anim{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.isi{
    margin-top: 4%;
}

.container1 h1{
    font-size: 24pt;
}

a .container1{
    box-shadow: 0px 0px 0px 0px #000;
    padding: 15px 80px;
    border: #000 2px solid;
    background-color: #f1f1f1;
    width: 20%;
    margin: 20px 0;
    color: #000000;
    margin: 1% 34.5%;
    align-content: center;
    align-self: center;
    align-items: center;
    transition: .2s;
}

a .container1:hover{
    box-shadow: -10px 0px 0px 0px #000;
}

.container2{
    background-color: #fff;
    padding: 10px;
    width: 500px;
    margin: 5% 33%;
    text-align: center;
    height: 135px;
}

.container2 h1{
    text-align: center;
    font-size: 27pt;
    font-family: gilroy-extrabold;
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

.container2 h1 span{
    -webkit-text-stroke: 1.6px #000;
    color: transparent;
    font-weight: 500;
    font-family: gilroy;
}

.tombol button{
    padding: 10px 25px;
    border-radius: 10px;
    border: 3px #000000 solid;
    color: #000000;
    font-size: 12pt;
    transition: 0.2s;
    cursor: pointer;
    margin: 20px 45%;
}

.tombol button:hover{
    box-shadow: 5px 5px 0 0;
}

@media (max-width: 600px){
    .page{
        padding-top: 15%;
    }
    .container2{
        padding: 10px;
        width: 335px;
        margin: 20% 1%;
        text-align: center;
        height: 135px;
    }
    .container{
        margin-top: 20px;
        width: 80%;
        margin: 0 3%;
        padding: 25px;
    }
    .tombol button{
        margin: 15px 30%;
    }
    #loop{
        top: 45%;
    }
    #loop1{
        top: 55%;
    }
    #loop2{
        top: 65%;
    }
    a .container1{
        width: 50%;
        margin: 5% 4%;
        padding: 0px 75px;
    }
    .container1 p{
        font-size: 10pt;
    }
}
